{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="60">
    <title>{{username}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'teachers/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body class="body">
    {% if user.is_authenticated %}

    {% if messages %}
        {% for message in messages %}
            <p style="display: none;" id="message">{{message}}</p>
        {% endfor %}
    {% endif %}

        <aside id="aside">
            <div class="mainIdentification">
                <img src="{%static 'teachers/src/profileIcon.png'%}" alt="profileIcon" class="profileIcon">
                <div>
                    <h3 class="id">{{username}}</h3>
                    <h4 class="id">{{email}}</h4>
                </div>
            </div>
            <hr class="line">
            
            <div class="navigationBar">
                <a href="/dashboard/{{username}}/create-new-form"><p class="eachnavigator">Create New Form</p></a>
                <a href="/dashboard/{{username}}/sign-out-form"><p class="eachnavigator" style="color: gray;">SignCreated Form</p></a>
                <a href="/dashboard/{{username}}/sign-in-form"><p class="eachnavigator" style="color: gray;" >Sign in Form</p></a>
                <a href="/logout"><p class="eachnavigator">Sign-out</p></a>
            </div>
        </aside>
        <div class="main"> 
            <div class="classes">
                <a href="/dashboard/{{username}}/period1">
                    <div class="class">
                        <h2 class="topicClass">Period #1</h2>
                    </div>
                </a>
                <a href="/dashboard/{{username}}/period2">
                    <div class="class">
                        <h2 class="topicClass">Period #2</h2>
                    </div>
                </a>
                <a href="/dashboard/{{username}}/period3">
                    <div class="class">
                        <h2 class="topicClass">Period #3</h2>
                    </div>
                </a>
                <a href="/dashboard/{{username}}/period4">
                    <div class="class">
                        <h2 class="topicClass">Period #4</h2>
                    </div>
                </a>
            </div>
            <div class="reportCart">
                <div class="iconContainer">
                    <div style="display: flex; align-items: center; gap: 2rem;"><img class="iconStates" src="../../static/teachers/src/blue.png"><h2>{{returned}}</h2></div>
                    <div style="display: flex; align-items: center; gap: 2rem;"><img class="iconStates" src="../../static/teachers/src/red.png"><h2>{{not_returned}}</h2></div>
                </div>
                {% if result|length != 0 %}
                    <div class="reservations">
                        <table class="table">
                            <tr id="baseRow" style="text-align: center;">
                                <th scope="col-1" class="baseElements">Studio</th>
                                <th scope="col-1" class="baseElements">Student</th>
                                <th scope="col-1" class="baseElements">From - To</th>
                            </tr>
                                {% for each in result %}
                                    {% if each.1 == "-" %}
                                        <tr class="eachRow" style="background-color: #dd283a">
                                            {% for eachone in each %}
                                                    <td class="contentReserved">{{eachone}}</td>
                                            {% endfor %}
                                        </tr>
                                    {% else %}
                                        <tr class="eachRow" style="background-color: navy; color: white">
                                            {% for eachone in each %}
                                                    <td class="contentReserved">{{eachone}}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                    </table>
                </div>  
                {% endif %}
            </div>
        </div>
    </body>
    {% else %}
    <body>
        <div>
            <p id="DoNotAllowed" style="display: none;">You are not autherised</p>
        </div>
    </body>
    {% endif %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="../../static/teachers/js/addColor.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script type="text/javascript" src="../../static/teachers/js/notification.js"></script>
</html>