{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>signed-in</title>
        <link rel="stylesheet" type="text/css" href="{% static 'teachers/css/signedOut.css' %}" />

    </head>
    <body>
        <div>
            <div class="container">
                <h2 class="alert">You have SUCCESSFULLY signed in all equipments </h2>
            </div>
        </div> 
    </body>
    </html>
